.App {
  height: 100vh;
  background-image: url("/public/images/other/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  background-image: url("/public/images/other/fifa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 400px;
}

.random__wrapper {
  width: 800px;
  margin: 0 auto;
}

.random__box-wrapper {
  display: flex;
  justify-content: space-between;
}

.random__box-item {
  width: 300px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random__box-img {
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.random__panel {
  display: flex;
  justify-content: center;
}
